#####################################################################
[include mainsail.cfg]
[include nitehawk-sb.cfg]
[include nevermore.cfg]
[include KAMP_Settings.cfg]
[include macros/*.cfg]
[include LEDS/*.cfg]
[include sensorless.cfg]
[include temp.cfg]
#[include btt_sensor.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_27004A000A51313133353932-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 10000
max_z_velocity: 30     #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

### Option to exclude objects
[exclude_object]

### Enable arcs for z-hop spiral
[gcode_arcs]

[scanner]
serial: /dev/serial/by-id/usb-Cartographer_614e_3B0036001653584833373720-if00
x_offset: 0
y_offset: 20
#backlash_comp: 0.00796
#backlash_comp: 0.02140
backlash_comp: 0.01435
#calibration_method: touch
sensor: cartographer
sensor_alt: carto
#scanner_touch_z_offset: 0.05
mesh_runs: 2

[bed_mesh]
zero_reference_position: 150, 150
speed: 100
horizontal_move_z: 5
mesh_min: 45,45
mesh_max: 260,260
probe_count: 7,7
algorithm: bicubic
bicubic_tension: 0.2
split_delta_z: 0.01
mesh_pps: 3,3
adaptive_margin: 5

#####################################################################
#   X/Y Stepper Settings (Sensorless)
#####################################################################

##  B Stepper - Left
##  Connected to HV STEPPER 0
[stepper_x]
step_pin: PB10
dir_pin: !PB11
enable_pin: !PG0
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 30
homing_retract_dist: 0
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc5160 stepper_x]
cs_pin: PE15
spi_bus: spi4
diag0_pin: ^!PG1
driver_SGT: 1
interpolate: false
run_current: 1.5
sense_resistor: 0.075
stealthchop_threshold: 0

##  A Stepper - Right
##  Connected to HV STEPPER 1
[stepper_y]
step_pin: PF15
dir_pin: !PF14
enable_pin: !PE9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 30
homing_retract_dist: 0
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc5160 stepper_y]
cs_pin: PE11
spi_bus: spi4
diag0_pin: ^!PE10
driver_SGT: 1
interpolate: false
run_current: 1.5
sense_resistor: 0.075
stealthchop_threshold: 0
 
#####################################################################
#   Z Stepper Settings
#####################################################################
## Z0 Stepper - Front Left
##  Connected to STEPPER 0
[stepper_z]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD7
rotation_distance: 40
gear_ratio: 80:16  
microsteps: 32
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
position_max: 280
position_min: -5
homing_speed: 8
second_homing_speed: 3
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0 # cartographer needs this to be set to 0

##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc2209 stepper_z]
uart_pin: PD5
#diag_pin: ^!PD6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to STEPPER 1
[stepper_z1]
step_pin: PC12
dir_pin: PC11
enable_pin: !PD2
rotation_distance: 40
gear_ratio: 80:16 
microsteps: 32

##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc2209 stepper_z1]
uart_pin: PD0
#diag_pin: ^!PD1
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to STEPPER 2
[stepper_z2]
step_pin: PC9
dir_pin: !PC8
enable_pin: !PC10
rotation_distance: 40
gear_ratio: 80:16 
microsteps: 32

##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc2209 stepper_z2]
uart_pin: PA8
#diag_pin: ^!PA15
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to STEPPER 3
[stepper_z3]
step_pin: PG7
dir_pin: PG6
enable_pin: !PC7
rotation_distance: 40
gear_ratio: 80:16 
microsteps: 32

##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc2209 stepper_z3]
uart_pin: PG8
#diag_pin: ^!PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#       Extruder
#####################################################################
##  Connected to STEPPER 0
##  Heater - HEATER
##  Thermistor - TH0
[extruder]
step_pin: nhk:gpio23
dir_pin: nhk:gpio24
enable_pin: !nhk:gpio25
rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: nhk:gpio9
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: nhk:gpio29
pullup_resistor: 2200
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 170
pressure_advance: 0.016
#pressure_advance: 0.03
## older
#max_extrude_only_distance: 101
#max_extrude_cross_section: 5
max_extrude_only_distance: 200
max_extrude_cross_section: 50

[firmware_retraction]
#retract_length: 0.5
retract_speed: 35

##  E0 on MOTOR6
##  Connected to STEPPER 4
[tmc2209 extruder]
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
heater_pin: PG11
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA2
pullup_resistor: 2200
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.8
min_temp: 0
max_temp: 120

### Additional fans
[controller_fan controller_fan]
##  Controller fan - FAN2
pin: PF7
#tachometer_pin: PF6
kick_start_time: 0.5
max_power: 0.4
heater: heater_bed

#### bed fans?
[fan_generic bed_fans]
pin: PB7
kick_start_time: 0.5
max_power: 0.5


#####################################################################
#   Filament sensor
#####################################################################

#[filament_switch_sensor Filament]
#pause_on_runout: True
#runout_gcode: M600
#insert_gcode:
#event_delay: 3.0
#pause_delay: 0.5
#switch_pin: !PC0

## Chamber Lighting (Optional)
## Connected to LED-STRIP
### --- Likely going to move this to LEDS
[output_pin caselight]
pin: PE6
pwm:true
hardware_pwm: False
value: 0.20 #startup value
shutdown_value: 0
value:1
cycle_time: 0.00025

#####################################################################
#   Accelerometer
#####################################################################
[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 3
#keep_raw_csv: True
show_macros_in_webui: True
timeout: 300

[input_shaper]
shaper_freq_x: 78.6
shaper_type_x: mzv
shaper_freq_y: 67.6
shaper_type_y: mzv

[adxl345]
cs_pin: nhk:gpio21
spi_software_sclk_pin: nhk:gpio18
spi_software_mosi_pin: nhk:gpio20
spi_software_miso_pin: nhk:gpio19

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 20


#####################################################################
#   TH
# #####################################################################
[temperature_sensor chamber_temp]
### Chamber Temperature - T1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: nhk:gpio28
min_temp: 0
max_temp: 100
gcode_id: chamber_th

[temperature_sensor nh_temp]
## Nitehawk PCB Sensor
sensor_type: CMFB103F3950FANT
sensor_pin: nhk:gpio26
pullup_resistor: 2200
min_temp: 0
max_temp: 100
gcode_id: nh_th

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################
[idle_timeout]
timeout: 1800

#[safe_z_home]
#home_xy_position:150,150
#speed:100
#z_hop:10

##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
[quad_gantry_level]
gantry_corners:
   -60,-10
   360,370
##  Probe points
points:
   50,25
   50,225
   250,225
   250,25
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0055
max_adjust: 10
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PG9, EXP1_2=PG12,
    EXP1_3=PG13, EXP1_4=PG14,
    EXP1_5=PC13, EXP1_6=PC14,    # Slot in the socket on this side
    EXP1_7=PC15, EXP1_8=PF0,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PE2, EXP2_4=PE4,
    EXP2_5=PE3, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PE5, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PE4


####---> EOF

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [scanner model default]
#*# model_coef = 1.4448182610888431,
#*# 	1.775880815473171,
#*# 	0.7592715313997368,
#*# 	0.3062802598083623,
#*# 	0.4376675799428827,
#*# 	0.6649801270356921,
#*# 	-0.3235529523235048,
#*# 	-0.7362379249336519,
#*# 	0.33111143016090255,
#*# 	0.4399933278921763
#*# model_domain = 3.172249190379612e-07,3.323030190045395e-07
#*# model_range = 0.200000,5.100000
#*# model_temp = 13.895459
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.1.0
#*#
#*# [scanner]
#*# scanner_touch_threshold = 2350
#*# scanner_touch_z_offset = 0.035
#*# mode = touch
#*# scanner_touch_speed = 3
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.005019, 0.008643, 0.021297, 0.021566, 0.017350, 0.020706, 0.017365
#*# 	0.009640, 0.005720, 0.012684, 0.019779, 0.018102, 0.024784, 0.029599
#*# 	0.000966, -0.004501, -0.001430, -0.005412, 0.000824, 0.001403, 0.005700
#*# 	-0.002016, -0.013523, -0.013506, -0.008657, -0.010759, 0.000421, 0.000072
#*# 	0.002049, -0.017937, -0.007617, -0.002372, -0.008651, 0.000756, 0.001639
#*# 	0.004454, -0.006049, -0.000052, 0.006234, -0.003447, -0.001140, 0.009893
#*# 	0.000727, -0.003983, 0.001846, 0.002872, -0.005797, 0.002982, 0.002747
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 45.0
#*# max_x = 260.0
#*# min_y = 45.0
#*# max_y = 260.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 51.510
#*# pid_ki = 3.122
#*# pid_kd = 212.481
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.529
#*# pid_ki = 3.216
#*# pid_kd = 54.718
